<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 
   These are the Kill / Death Spreads...

<br /><br />

<table>
<tr>
   <th>Player Name</th>
   <th>Kills</th>
   <th>Deaths</th>
   <th>Spread</th>
</tr>
<% @player_stats.each do |player_stat| %>
<tr>
   <td><%= player_stat.player_name %></td>
   <td><%= number_with_precision(player_stat.kills, :precision => 2) %></td>
   <td><%= number_with_precision(player_stat.deaths, :precision => 2) %></td>
   <td><%= number_with_precision(player_stat.spread, :precision => 2) %></td>
</tr>
<% end %>
</table>

</div>
