<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 
   These are the Kill / Death Spreads...

<br /><br />

<table>
<tr>
   <th>Player Name</th>
   <th>Kills</th>
   <th>Deaths</th>
   <th>Spread</th>
   <th>Number of Games</th>
</tr>
<% @player_stats.each do |player_stat| %>
<tr class="<%= cycle("regular", "alternate") %>">
   <td><%= player_stat.player.real_name %></td>
   <td><%= number_with_precision(player_stat.average_kills, :precision => 2) %></td>
   <td><%= number_with_precision(player_stat.average_deaths, :precision => 2) %></td>
   <td><%= number_with_precision(player_stat.average_spread, :precision => 2) %></td>
   <td><%= player_stat.number_of_games %></td>
</tr>
<% end %>
</table>

</div>
