<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 
   These are the Kill / Death Spreads...

<table border="1">
<tr>
   <th>Player Name</th>
   <th>Kills</th>
   <th>Deaths</th>
   <th>Spread</th>
</tr>
<% @player_stats.each do |player_stat| %>
<tr>
   <td><%= player_stat.player_name %></td>
   <td><%= player_stat.kills %></td>
   <td><%= player_stat.deaths %></td>
   <td><%= player_stat.spread %></td>
</tr>
<% end %>
</table>

</div>
