<div class="content"> 
   Below is a list of all the games in the database.
   <br />

   <%= link_to "What games are recorded?", "/game_history/info" %>

<br /><br />

<div class="pagination">
<% if @page != 0 %>
<%= link_to "<<", :controller => "game_history", :action => "show", :page => "0" %>
<%= link_to "<", :controller => "game_history", :action => "show", :page => (@page.to_i - 1) %>
<% end %>

<% @pages.each do |page_number| %>
   <% if page_number == @page %>
      <strong><%= (page_number + 1) %></strong>
   <% else %>
      <%= link_to (page_number + 1), "/game_history/#{page_number}" %>
   <% end %>
<% end %>

<% if @page != @total_pages %>
<%= link_to ">", :controller => "game_history", :action => "show", :page => (@page.to_i + 1) %>
<%= link_to ">>", :controller => "game_history", :action => "show", :page => @total_pages %>
<% end %>
</div>

<table>
<tr>
   <th>ID</th>
   <th>Name</th>
   <th>Map</th>
   <th>Date</th>
   <th>Duration</th>
</tr>
<% @games.each_with_index do |game, index| %>
<tr id="<%= game.id %>" class="<%= cycle("regular", "alternate") %>">
   <td><%= link_to_function game.reach_id, "expand_game_details('#{game.id}')" %></td>
   <td><%= game.name %></td>
   <td><%= game.reach_map.name %></td>
   <td><%= game.game_time.getlocal.strftime("%m/%d/%Y %I:%M%p") %></td>
   <td><%= seconds_to_minutes(game.duration) %></td>
</tr>
<% end %>
</table>

</div> 

<div id="description_window">
   <div id="description_header">Weapon Description</div>
   <div id="description_body"></div>
   <div id="description_footer">
      <input id="description_close" type="button" value="Close" />
   </div>
</div>

<% if (@show_game != nil) %>
<script>
expand_game_details('<%= @show_game %>')
</script>
<% end %>
