<div class="title"> 
  <%= @title %>
</div> 
<div class="content"> 
   <input id="admin-job-id" type="hidden" value="<%= @selected_job == nil ? "" : @selected_job.id %>" />
   <input id="admin-update" type="button" value="Update" <%= @selected_job == nil ? "" : "disabled=\"disabled\"" %> />
   <br />
   Status: <div id="admin-status"><%= @selected_job == nil ? "Not started" : @selected_job.status %></div>
   <br />
   <div id="admin-results-container"><pre id="admin-results"><%= @selected_job == nil ? "" : @selected_job.content == nil ? "" : @selected_job.content.html_safe %></pre></div>
</div> 
