<div class="content"> 
   Summary of stats for <%= @last_day_of_stats.strftime("%m/%d/%Y") %>
   <br /><br />

   <table id="last_day_of_stats" class="sortable">
      <tr>
         <th>Player</th>
         <th>Avg K/D Spread</th>
         <th>Avg Effectiveness</th>
         <th>Avg Medals</th>
         <th>Games</th>
      </tr>
      <% @todays_stats.each do |stat| %>
      <tr>
         <td><%= stat.name %></td>
         <td><%= number_to_human(stat.kd_spread, :precision => 2) %></td>
         <td><%= number_to_human(stat.effectiveness, :precision => 2) %></td>
         <td><%= number_to_human(stat.number_of_medals, :precision => 2) %></td>
         <td><%= stat.number_of_games %></td>
      </tr>
      <% end %>
   </table>
</div>
