<div class="content"> 

Average player effectiveness per map.<br />
What is <%= link_to "player effectiveness", "/player_effectiveness/info" %>?

<br /><br />

<strong>Map:</strong>
<select onchange="window.location='/player_effectiveness/for_map/' + this.value">
<option value=""></option>
<% @maps.each do |map| %>
   <option <%= (map.id == @map_id.to_i) ? "selected='selected'": "" %> value="<%= map.id %>"><%= map.name %></option>
<% end %>
</select>

<br /><br />

<table>
<tr>
   <th>Player Name</th>
   <th>Effectiveness</th>
   <th>Number of Games</th>
</tr>
<% @player_stats.each do |player_stat| %>
<tr class="<%= cycle("regular", "alternate") %>">
   <td><%= player_stat.player.real_name %></td>
   <td><%= number_with_precision(player_stat.average_rating, :precision => 2) %></td>
   <td><%= player_stat.number_of_games %></td>
</tr>
<% end %>
</table>

</div>
