<div class="title"> 
  <%= @title %>: <%= @selected_player.real_name %> (<% @selected_player.service_tags.each do |service_tag| %> <%= service_tag.tag %> <% end %>)
</div> 
<div class="content"> 

<input type="hidden" id="selected_player" value="<%= @selected_player.id %>" />

Below are some individual player statistics...
<br /><br />

<strong>Maps:</strong>
<select id="player_maps">
   <option value="">All maps</option>
<% @maps.each do |map| %>
   <option value="<%= map.id %>"><%= map.name %></option>
<% end %>
</select>

<br /><br />

<div class="title">
   Kills/Deaths
</div>
<div class="content">

<div id="kill_death_graph_container" class="graph_container">
   <div id="kill_death_map_legend" class="legend"></div>
   <div id="kill_death_graph" class="graph"></div>
</div>

</div>

<br /><br />

<div class="title">
   Effectiveness Graph
</div>

<div class="content">

<div id="effectiveness_graph_container" class="graph_container">
   <div id="effectiveness_map_legend" class="legend"></div>
   <div id="effectiveness_graph" class="graph"></div>
</div>

</div>
