<div class="title"> 
  <%= @title %>: <%= @selected_player.real_name %> (<% @selected_player.service_tags.each do |service_tag| %> <%= service_tag.tag %> <% end %>)
</div> 
<div class="content"> 

<input type="hidden" id="selected_player" value="<%= @selected_player.id %>" />

Below are some individual player statistics...
<br /><br />

<strong>Maps:</strong>
<select id="player_maps">
   <option value="">All maps</option>
<% @maps.each do |map| %>
   <option value="<%= map.id %>"><%= map.name %></option>
<% end %>
</select>

<br /><br />

<div id="player-graphs-tabs-container" class="tabs-container">
   <div class="tabs-labels">
      <div id="player-graphs-kill_death-tab" class="tab">Kill/Deaths</div>
      <div id="player-graphs-medals-tab" class="tab">Medals</div>
      <div id="player-graphs-effectiveness-tab" class="tab">Effectiveness</div>
   </div>
   <div id="player-graphs-tabs-bodies" class="tabs-bodies">
      <div id="player-graphs-kill_death-body" class="tab-content"></div>
      <div id="player-graphs-medals-body" class="tab-content"></div>
      <div id="player-graphs-effectiveness-body" class="tab-content"></div>
   </div>
</div>
      
</div>
