<div class="title"> 
  <%= @title %>: <%= @selected_player.real_name %> (<% @selected_player.service_tags.each do |service_tag| %> <%= service_tag.tag %> <% end %>)
</div> 
<div class="content"> 

<input type="hidden" id="selected_player" value="<%= @selected_player.id %>" />

<table style="border: 0px">
   <tr>
      <td valign="top">
         <table>
            <tr>
               <th>Top 3 Medals</ht>
            </tr>
            <% @top_3_medals.each do |medal| %>
               <tr><td><%= medal.name %> (<%= medal.count %>)</td></tr>
            <% end %>
         </table>
      </td>
      <td valign="top">
         <table>
            <tr>
               <th>Career Kills</ht>
               <th>Career Deaths</ht>
               <th>Career Spread</ht>
            </tr>
            <tr>
               <td><%= @career_kill_deaths.total_kills.to_i %></td>
               <td><%= @career_kill_deaths.total_deaths.to_i %></td>
               <td><%= @career_kill_deaths.total_kills.to_i - @career_kill_deaths.total_deaths.to_i %></td>
            </tr>
         </table>
      </td>
   </tr>
</table>


<br /><br />

<div id="player-graphs-tabs-container" class="tabs-container">
   <div class="tabs-labels">
      <div id="player-graphs-kill_death-tab" class="tab">Kill/Deaths</div>
      <div id="player-graphs-medals-tab" class="tab">Medals</div>
      <div id="player-graphs-effectiveness-tab" class="tab">Effectiveness</div>
   </div>
   <div id="player-graphs-tabs-bodies" class="tabs-bodies">
      <div id="player-graphs-kill_death-body" class="tab-content">
         <select id="kill_death_player_maps">
            <option value="">All maps</option>
         <% @maps.each do |map| %>
            <option value="<%= map.id %>"><%= map.name %></option>
         <% end %>
         </select>

         <div id="player-graphs-kill_death"></div>
      </div>
      <div id="player-graphs-medals-body" class="tab-content">
         <div id="player-graphs-medals"></div>
      </div>
      <div id="player-graphs-effectiveness-body" class="tab-content">
         <select id="effectiveness_player_maps">
            <option value="">All maps</option>
         <% @maps.each do |map| %>
            <option value="<%= map.id %>"><%= map.name %></option>
         <% end %>
         </select>

         <div id="player-graphs-effectiveness"></div>
      </div>
   </div>
</div>
      
</div>
