<!DOCTYPE html>
<html>
<head>
<title>Halo Reach: <%= @title %></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>
<%= csrf_meta_tag %>
</head>
<body>
   <div class="header">     
       <div class="title">Halo Reach: <%= @title %></div> 
   </div>
   <div class="header-shadow"></div>
   <div class="main">     
      <div class="nav-column"> 
         <div class="container"> 
            <div class="title">Site</div> 
            <ul> 
                 <li>
                     <%= link_to "Players", "/players#index" %>
                 </li>
                 <li> 
                     <%= link_to "Game History", "/game_history#index" %>
                 </li> 
                 <li> 
                     <%= link_to "Kill/Death Spread", "/kill_death_spread#index" %>
                 </li> 
                 <li>
                     <%= link_to "Player Effectiveness", "/player_effectiveness#index" %>
                 </li>
                 <li>
                     <%= link_to "Medals", "/medals#index" %>
                 </li>
            </ul> 
         </div>
      </div> 
    
      <div class="main-column"> 
         <div class="container">
            <div class="title"> 
              <%= @title %>
            </div> 
            <%= yield %> 
         </div> 
      </div> 
   </div>
</body>
</html>
